<link rel="stylesheet" href="/js/fullcalendar/lib/main.css">
<h1>events</h1> 

<div id="calendar"></div>


<script src="/js/fullcalendar/lib/main.js"></script>
<script src="/js/fullcalendar/lib/locales/es.js"></script>
<script src="/js/calendar.js"></script>